<nav class="navbar navbar-expand-lg navbar-light bg-info" th:fragment="nav-bar">           
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                
                	<li class="dropdown">
                        <a style="margin-left: 10px; border: none" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">Usuario<span class="caret"></span></a>
                    	<ul class="dropdown-menu">
                    		 <li><a style="margin-left: 10px; border: none" th:href="@{/userForm}">Ir a usuario</a></li>
          			    </ul>
                    </li>

                    <li class="dropdown">
                        <a style="margin-left: 10px; border: none" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">Producto<span class="caret"></span></a>
                    	<ul class="dropdown-menu">
                    		 <li><a style="margin-left: 10px; border: none" th:href="@{/producto/productForm}">Crear producto</a></li>
          					 <li><a style="margin-left: 10px; border: none" th:href="@{/producto/productList}">Lista productos</a></li>    				
                    	</ul>
                    </li>
                    <li  class="dropdown">
                        <a style="margin-left: 10px; border: none" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">Clientes<span class="caret"></span></a>
                    	<ul class="dropdown-menu">
                    	    <li><a style="margin-left: 10px; border: none" th:href="@{/clientes/clientForm}">Crear cliente</a></li>
          					<li><a style="margin-left: 10px; border: none" th:href="@{/clientes/clientList}">Lista clientes</a></li>
        				</ul>
                    </li>
                    <li class="dropdown">
                        <a style="margin-left: 10px; border: none" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">Ventas<span class="caret"></span></a>
                    	<ul class="dropdown-menu">
                    		<li><a style="margin-left: 10px; border: none" th:href="@{/ventas/}">Crear venta</a></li>
          					<li><a style="margin-left: 10px; border: none" th:href="@{/ventas/reporte-ventas}">Reporte ventas</a></li>        				
                    	</ul>
                    </li>

                </ul>                
            </div>
            <div class="dropdown">
                <button  sec:authorize="isAuthenticated()" style="border: none" class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                
                    	<span sec:authentication="name"></span>
                </button>
                <div class="dropdown-menu text-center">

                    <a class="dropdown-item" href="#">
                        <img src="../img/user.png" alt="60" width="60"/>
                    </a>
                    <a class="dropdown-item" href="#">
                    	<div sec:authorize="isAuthenticated()"> 
                    		<span sec:authentication="name"></span>
                    	</div>
                    </a>
                    
                    <a class="dropdown-item" href="#">
                    	<div sec:authorize="isAuthenticated()"> 
                    		<span sec:authentication="principal.authorities"></span>
                    	</div>
                    </a>               
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/logout}">Salir</a>
                    <a class="dropdown-item">


                    </a>
                </div>
            </div>
</nav>




