
<form class="form" role="form" autocomplete="off" th:object="${clienteFormulario}" th:action="${editClientMode} ?@{/ventas/editClient}:@{/ventas/clientForm}" method="post">
	<div class="form-group row">
	
	<!--Es necesario para poder pasar la validacion del Model-->
	    <input class="form-control" type=hidden th:field="${clienteFormulario.id}"  th:if="${editClientMode}">
	
		<label class="col-lg-3 col-form-label form-control-label">Dni</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${clienteFormulario.dni}">
			<div class="alert-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Nombres</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${clienteFormulario.nombres}" >
			<div class="alert-danger" th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}">Error</div>
		</div>
	</div>
	
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label" >Direccion</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${clienteFormulario.direccion}">
			<div class="alert-danger" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label th:text="Estado" class="col-lg-3 col-form-label form-control-label"></label>
		<div class="col-lg-9">
			<select class="form-control" size="2" th:field="${clienteFormulario.estado}">
				<option th:each="estados :${estado}" th:value="${estados.id}" th:text="${estados.nombre}">
				</option>
			</select>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-lg-12 text-center">
			<a class="btn btn-secondary"  th:href="@{'/ventas/clientForm/cancel'}">Cancelar</a>
			<input type="submit" class="btn btn-primary"
				value="Crear cliente" th:value="${editClientMode}?'Guardar cliente':'Crear cliente'">
		</div>
	</div>
</form>