<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head-client-list :: head-client-list">...</div>
<body>
	 
	<div class="container">
		<div th:replace="fragments/nav-bar :: nav-bar">...</div>
		
		<div class="card mt-4" >
					<div class="card-header">
						<h4>Lista Clientes</h4>
					</div>
					<div class="card-body">
						<div th:include="ventas/client-list.html" th:remove="tag"></div>
					</div>
				</div>	
		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	<div th:include="ventas/confirm-delete-client-modal.html" th:remove="tag"></div>
	</body>
</html>