<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Ventas</title>

	<!--JQUERY-->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
 			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
 			crossorigin="anonymous"></script>

	<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script 
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

	<!-- Los iconos tipo Solid de Fontawesome-->
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

	<!-- Nuestro css-->
	<link rel="stylesheet" type="text/css" href="static/css/user-form.css"
		th:href="@{/css/user-form.css}">
	<!-- DATA TABLE -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
	<script type="text/javascript">
	    $(document).ready(function() {
	        //Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
	        $('#clientList').DataTable({
	        		
	        "language": { /*opciones de idioma*/
	                "processing":"Obteniendo información", 
	                "lengthMenu": "Mostrando _MENU_ registros por página",
	                "zeroRecords": "No se ha encontrado información",
	                "info": " Mostrando página _PAGE_ de _PAGES_",
	                "infoEmpty": "Registros no disponibles",
	                "infoFiltered": "(filtrado de _MAX_ total de registros)",
	                search: "Buscar",
	                "paginate": {
	                    "previous": "Anterior",
	                    "next":"Siguiente",
	                    "first":"Primero",
	                    "last":"Último"
	          }
	        
	        }
	        });
	    } );
	</script>

</head>
<body>
	 
	<div class="container">
		<div th:replace="fragments/nav-bar :: nav-bar">...</div>
		
		<div class="card mt-4" >
					<div class="card-header">
						<h4>Lista Clientes</h4>
					</div>
					<div class="card-body">
						<div th:include="ventas/client-list.html" th:remove="tag"></div>
					</div>
				</div>	
		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	</body>
</html>