<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head-product-list :: head-product-list">...</div>
<body>
	 
	<div class="container">
		<div th:replace="fragments/nav-bar :: nav-bar">...</div>
		
		<div class="card mt-4" >
					<div class="card-header">
						<h4>Producto</h4>
					</div>
					<div class="card-body">
					<!-- 	<div class="alert alert-success text-center mt-4" th:if="${successProductMessage}" th:text="${successProductMessage}">Success message</div> -->
						<div th:include="ventas/product-list.html" th:remove="tag"></div>
					<!--  <div class="alert alert-danger text-center mt-4" th:if="${formErrorProductMessage}" th:text="${formErrorProductMessage}">Error Message</div>	-->
					</div>
				</div>	
		<div th:replace="fragments/footer :: footer">...</div>
	</div>
	<div th:include="ventas/confirm-delete-product-modal.html" th:remove="tag"></div>
	</body>
</html>